@model List<Settings>
@{
    ViewData["Title"] = "Default";
}

<div
        class="footer-area"
        data-bg-image="assets/images/footer/bg/1-1920x465.jpg"
      >
        <div class="footer-top section-space-top-100 pb-60">
          <div class="container">
            <div class="row">
              <div class="col-lg-3">
                <div class="footer-widget-item">
                  <div class="footer-widget-logo">
                    <a href="index.html">
                      <img src="~/assets/images/logo/@Model.FirstOrDefault(x => x.Key.Trim().ToLower() == "logo".Trim().ToLower())?.Value" alt="Logo" />
                    </a>
                  </div>
                  <p class="footer-widget-desc">
                    Lorem ipsum dolor sit amet, consec adipisl elit, sed do
                    eiusmod tempor
                    <br />
                    incidio ut labore et dolore magna.
                  </p>
                  <div class="social-link with-border">
                    <ul>
                      <li>
                        <a
                          href="#"
                          data-tippy="Facebook"
                          data-tippy-inertia="true"
                          data-tippy-animation="shift-away"
                          data-tippy-delay="50"
                          data-tippy-arrow="true"
                          data-tippy-theme="sharpborder"
                        >
                          <i class="fa fa-facebook"></i>
                        </a>
                      </li>
                      <li>
                        <a
                          href="#"
                          data-tippy="Twitter"
                          data-tippy-inertia="true"
                          data-tippy-animation="shift-away"
                          data-tippy-delay="50"
                          data-tippy-arrow="true"
                          data-tippy-theme="sharpborder"
                        >
                          <i class="fa fa-twitter"></i>
                        </a>
                      </li>
                      <li>
                        <a
                          href="#"
                          data-tippy="Pinterest"
                          data-tippy-inertia="true"
                          data-tippy-animation="shift-away"
                          data-tippy-delay="50"
                          data-tippy-arrow="true"
                          data-tippy-theme="sharpborder"
                        >
                          <i class="fa fa-pinterest"></i>
                        </a>
                      </li>
                      <li>
                        <a
                          href="#"
                          data-tippy="Dribbble"
                          data-tippy-inertia="true"
                          data-tippy-animation="shift-away"
                          data-tippy-delay="50"
                          data-tippy-arrow="true"
                          data-tippy-theme="sharpborder"
                        >
                          <i class="fa fa-dribbble"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 pt-40">
                <div class="footer-widget-item">
                  <h3 class="footer-widget-title">Useful Links</h3>
                  <ul class="footer-widget-list-item">
                    <li>
                      <a href="#">About Pronia</a>
                    </li>
                    <li>
                      <a href="#">How to shop</a>
                    </li>
                    <li>
                      <a href="#">FAQ</a>
                    </li>
                    <li>
                      <a href="#">Contact us</a>
                    </li>
                    <li>
                      <a href="#">Log in</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 pt-40">
                <div class="footer-widget-item">
                  <h3 class="footer-widget-title">My Account</h3>
                  <ul class="footer-widget-list-item">
                    <li>
                      <a href="#">Sign In</a>
                    </li>
                    <li>
                      <a href="#">View Cart</a>
                    </li>
                    <li>
                      <a href="#">My Wishlist</a>
                    </li>
                    <li>
                      <a href="#">Track My Order</a>
                    </li>
                    <li>
                      <a href="#">Help</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 pt-40">
                <div class="footer-widget-item">
                  <h3 class="footer-widget-title">Our Service</h3>
                  <ul class="footer-widget-list-item">
                    <li>
                      <a href="#">Payment Methods</a>
                    </li>
                    <li>
                      <a href="#">Money Guarantee!</a>
                    </li>
                    <li>
                      <a href="#">Returns</a>
                    </li>
                    <li>
                      <a href="#">Shipping</a>
                    </li>
                    <li>
                      <a href="#">Privacy Policy</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 pt-40">
                <div class="footer-contact-info">
                  <h3 class="footer-widget-title">Got Question? Call Us</h3>
                  <a class="number" href="tel://@Model.FirstOrDefault(x => x.Key.Trim().ToLower() == "phonenumber".Trim().ToLower())?.Value">@Model.FirstOrDefault(x => x.Key.Trim().ToLower() == "phonenumber".Trim().ToLower())?.Value</a>
                  <div class="address">
                    <ul>
                      <li>Your Address Goes Here</li>
                    </ul>
                  </div>
                </div>
                <div class="payment-method">
                  <a href="#">
                    <img
                      src="~/assets/images/website-images/1.png"
                      alt="Payment Method"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="copyright">
                  <span class="copyright-text"
                    >© 2021 Pronia Made with
                    <i class="fa fa-heart text-danger"></i> by
                    <a
                      href="https://hasthemes.com/"
                      rel="noopener"
                      target="_blank"
                      >HasThemes</a
                    >
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>