@model RegisterVM
@{
    ViewData["Title"] = "Register";
}

<main class="main-content">
        <div
          class="breadcrumb-area breadcrumb-height"
          data-bg-image="assets/images/breadcrumb/bg/1-1-1919x388.jpg"
        >
          <div class="container h-100">
            <div class="row h-100">
              <div class="col-lg-12">
                <div class="breadcrumb-item">
                  <h2 class="breadcrumb-heading">Register Page</h2>
                  <ul>
                    <li>
                      <a href="index.html">Home</a>
                    </li>
                    <li>Register</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="login-register-area section-space-y-axis-100">
            <div class = "alert alert-danger" asp-validation-summary = "ModelOnly"></div>
          <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 pt-5 pt-lg-0">
                <form method = "post">
                  <div class="login-form">
                    <h4 class="login-title">Register</h4>
                    <div class="row">
                      <div class="col-md-6 col-12">
                        <label>First Name</label>
                        <input asp-for = "Firstname" placeholder="First Name" /><br />
                        <span class = "text-behance text-danger" asp-validation-for = "Firstname"></span>
                      </div>
                      <div class="col-md-6 col-12">
                        <label>Last Name</label>
                        <input asp-for = "Lastname" placeholder="Last Name" /><br />
                        <span class = "text-behance text-danger" asp-validation-for = "Lastname"></span>

                      </div>
                      <div class="col-md-12">
                        <label>Username</label>
                        <input asp-for = "Username" placeholder="User Name" /><br />
                        <span class = "text-behance text-danger" asp-validation-for = "Username"></span>
                      </div>
                      <div class="col-md-12">
                        <label>Email Address</label>
                        <input asp-for = "Email" placeholder="Email Address" /><br />
                        <span class = "text-behance text-danger" asp-validation-for = "Email"></span>
                      </div>
                      <div class="col-md-6">
                        <label>Password</label>
                        <input asp-for = "Password" placeholder="Password" /><br />
                        <span class = "text-behance text-danger" asp-validation-for = "Password"></span>
                      </div>
                      <div class="col-md-6">
                        <label>Confirm Password</label>
                        <input asp-for = "Confirmpassword" placeholder="Confirm Password" /><br />
                        <span class = "text-behance text-danger" asp-validation-for = "Confirmpassword"></span>
                      </div>
                      <div class="col-md-6">
                        <input asp-for = "Terms" placeholder="Confirm Password" />
                        <label>Terms</label>
                        <span class = "text-behance text-danger" asp-validation-for = "Terms"></span>
                      </div>
                      <div class="col-12">
                        <button
                          class="btn btn-custom-size lg-size btn-pronia-primary"
                        >
                          Register
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </main>