@model Plant
<div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                data-tippy="Close"
                data-tippy-inertia="true"
                data-tippy-animation="shift-away"
                data-tippy-delay="50"
                data-tippy-arrow="true"
                data-tippy-theme="sharpborder"
              ></button>
            </div>
            <div class="modal-body">
              <div class="modal-wrap row">
                <div class="col-lg-6">
                  <div class="modal-img">
                    <div class="swiper-container modal-slider">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <a href="#" class="single-img">
                            <img
                              class="img-full"
                              src="~/assets/images/website-images//@Model.PlantImages.FirstOrDefault(x => x.isMain == true).Name"
                              alt="Product Image"
                            />
                          </a>
                        </div>
                        <div class="swiper-slide">
                          <a href="#" class="single-img">
                            <img
                              class="img-full"
                              src="~/assets/images/product/large-size/1-2-570x633.jpg"
                              alt="Product Image"
                            />
                          </a>
                        </div>
                        <div class="swiper-slide">
                          <a href="#" class="single-img">
                            <img
                              class="img-full"
                              src="~/assets/images/product/large-size/1-3-570x633.jpg"
                              alt="Product Image"
                            />
                          </a>
                        </div>
                        <div class="swiper-slide">
                          <a href="#" class="single-img">
                            <img
                              class="img-full"
                              src="~/assets/images/product/large-size/1-4-570x633.jpg"
                              alt="Product Image"
                            />
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 pt-5 pt-lg-0">
                  <div class="single-product-content">
                    <h2 class="title">@Model.Name</h2>
                    <div class="price-box">
                      <span class="new-price">$@Model.Price</span>
                    </div>
                    <div class="rating-box-wrap">
                      <div class="rating-box">
                        <ul>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                        </ul>
                      </div>
                      <div class="review-status">
                        <a href="#">( 1 Review )</a>
                      </div>
                    </div>
                    <div class="selector-wrap color-option">
                      <span class="selector-title border-bottom-0">Color</span>
                      <select
                        class="nice-select wide border-bottom-0 rounded-0"
                      >
                        <option value="default">Black & White</option>
                        <option value="blue">Blue</option>
                        <option value="green">Green</option>
                        <option value="red">Red</option>
                      </select>
                    </div>
                    <div class="selector-wrap size-option">
                      <span class="selector-title">Size</span>
                      <select class="nice-select wide rounded-0">
                        <option value="medium">Medium Size & Poot</option>
                        <option value="large">Large Size With Poot</option>
                        <option value="small">Small Size With Poot</option>
                      </select>
                    </div>
                    <p class="short-desc">
                        @Model.Desc
                    </p>
                    <ul class="quantity-with-btn">
                      <li class="quantity">
                        <div class="cart-plus-minus">
                          <input
                            class="cart-plus-minus-box"
                            value="1"
                            type="text"
                          />
                        </div>
                      </li>
                      <li class="add-to-cart">
                        <a
                          class="btn btn-custom-size lg-size btn-pronia-primary"
                          href="cart.html"
                          >Add to cart</a
                        >
                      </li>
                      <li class="wishlist-btn-wrap">
                        <a class="custom-circle-btn" href="wishlist.html">
                          <i class="pe-7s-like"></i>
                        </a>
                      </li>
                      <li class="compare-btn-wrap">
                        <a class="custom-circle-btn" href="compare.html">
                          <i class="pe-7s-refresh-2"></i>
                        </a>
                      </li>
                    </ul>
                    <ul class="service-item-wrap pb-0">
                      <li class="service-item">
                        <div class="service-img">
                          <img
                            src="~/assets/images/shipping/icon/car.png"
                            alt="Shipping Icon"
                          />
                        </div>
                        <div class="service-content">
                          <span class="title"
                            >Free <br />
                            Shipping</span
                          >
                        </div>
                      </li>
                      <li class="service-item">
                        <div class="service-img">
                          <img
                            src="~/assets/images/shipping/icon/card.png"
                            alt="Shipping Icon"
                          />
                        </div>
                        <div class="service-content">
                          <span class="title"
                            >Safe <br />
                            Payment</span
                          >
                        </div>
                      </li>
                      <li class="service-item">
                        <div class="service-img">
                          <img
                            src="~/assets/images/shipping/icon/service.png"
                            alt="Shipping Icon"
                          />
                        </div>
                        <div class="service-content">
                          <span class="title"
                            >Safe <br />
                            Payment</span
                          >
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>