@foreach (Plant plant in Model)
                   {
                       <div class="col-xl-3 col-md-4 col-sm-6">
                      <div class="product-item">
                        <div class="product-img">
                          <a asp-controller = "plant" asp-action = "detail" asp-route-id = "@plant.Id">
                              @foreach (PlantImage plantImage in plant.PlantImages)
                             {
                                 @if(plantImage.isMain == true)
                                 {
                                    <img
                              class="primary-img"
                              src="~/assets/images/website-images//@plantImage.Name"
                              alt="Product Images"
                            />
                                 }else if(plantImage.isMain == false){
                                     <img
                              class="secondary-img"
                              src="~/assets/images/website-images//@plantImage.Name"
                              alt="Product Images"
                            />
                                 }
                             }
                          </a>
                          <div class="product-add-action">
                            <ul>
                              <li>
                                <a
                                  href="wishlist.html"
                                  data-tippy="Add to wishlist"
                                  data-tippy-inertia="true"
                                  data-tippy-animation="shift-away"
                                  data-tippy-delay="50"
                                  data-tippy-arrow="true"
                                  data-tippy-theme="sharpborder"
                                >
                                  <i class="pe-7s-like"></i>
                                </a>
                              </li>
                              <li
                                class="quuickview-btn"
                                data-bs-toggle="modal"
                                data-bs-target="#quickModal"
                              >
                                <a
                                  asp-controller = "plant"
                                  asp-action = "getdetail"
                                  asp-route-id = "@plant.Id"
                                  data-tippy="Quickview"
                                  data-tippy-inertia="true"
                                  data-tippy-animation="shift-away"
                                  data-tippy-delay="50"
                                  data-tippy-arrow="true"
                                  data-tippy-theme="sharpborder"
                                >
                                  <i class="pe-7s-look"></i>
                                </a>
                              </li>
                              <li>
                                <a
                                  asp-controller = "plant"
                                  asp-action = "addbasket"
                                  asp-route-id = "@plant.Id"
                                  data-tippy="Add to cart"
                                  data-tippy-inertia="true"
                                  data-tippy-animation="shift-away"
                                  data-tippy-delay="50"
                                  data-tippy-arrow="true"
                                  data-tippy-theme="sharpborder"
                                >
                                  <i class="pe-7s-cart"></i>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="product-content">
                          <a class="product-name" href="shop.html"
                            >@plant.Name</a
                          >
                          <div class="price-box pb-1">
                            <span class="new-price">$@plant.Price</span>
                          </div>
                          <div class="rating-box">
                            <ul>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                   }