@model List<Color>
@{
    ViewData["Title"] = "Index";
}


<div class = "main-panel">
	<div class = "content-wrapper">
		<div class = "row">
			<div class="col-lg-12 grid-margin stretch-card">
				<div class = "card">
					<div class = "card-body">
                        <div>
                            <a asp-area = "ProniaAdmin" asp-controller = "color" asp-action = "create" class = "btn btn-success" style = "color:white">Create new Color</a>
                        </div>
						<div class="table-responsive pt-3">
                    <table class="table table-dark">
                      <thead>
                        <tr>
                          <th>
                            Id
                          </th>
                          <th>
                            Name
                          </th>
                          <th>
                            Settings
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        @foreach (Color color in Model)
                       {
                           <tr>
                          <td>
                            @color.Id
                          </td>
                          <td>
                            @color.Name
                          </td>
                          <td class = "d-flex">
                            <div>
                                <a class = "btn btn-warning" asp-area = "proniaadmin" asp-controller = "color" asp-action = "update" asp-route-id = "@color.Id"><i class = "mdi mdi-border-color"></i></a>
                            </div>
                            <div>
                                <a class = "btn btn-danger" asp-area = "proniaadmin" asp-controller = "color" asp-action = "delete" asp-route-id = "@color.Id"><i class = "mdi mdi-delete"></i></a>
                            </div>
                          </td>
                        </tr>
                       }
                      </tbody>
                    </table>
                  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>